<!DOCTYPE html>
<html lang="en">
    <%- include('partials/common/head.ejs') %>
<body>
    <div id="site-content">	
        <%- include('partials/common/header.ejs',{header : commonObj.header}) %>
        <%- include('partials/home/slider.ejs') %>
        
        <main class="main-content"> 
            <%- include('partials/home/news.ejs') %>
            <%- include('partials/home/ourservices.ejs') %>
            <%- include('partials/home/ourteam.ejs') %>
            <%- include('partials/home/information.ejs') %>
        </main>
        <%- include('partials/common/footer.ejs', {footer : commonObj.footer}) %>
    </div>   
</body>
</html>